.blog {
    width           : 100%;
    height          : 100%;
    margin          : 0 auto;
    background-color: #6e6b6b;

    &__utils {
        position: relative;
        margin  : 15px 0;
    }

    &__title {
        text-align    : center;
        font-weight   : bold;
        text-transform: uppercase;
        margin        : 20px 0;
    }

    &__container {
        width          : fit-content;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        text-align     : center;
    }

    &__container-small {
        position             : relative;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows   : repeat(5, 1fr);
        grid-gap             : 10px;
    }

    //blogComp
    &__item {
        position     : relative;
        width        : 80%;
        height       : 33%;
        margin-bottom: 20px;
    }

    &__item-view {
        position: relative;
        width   : 100%;
        height  : 100%;

        &:hover {
            .buttons {
                display: block;
                cursor : pointer;
            }
        }

        &-date {
            position        : absolute;
            top             : 0;
            right           : 0;
            padding         : 5px;
            border          : 3px solid salmon;
            background-color: rgba(223, 163, 156, 0.61);
        }

        &-author {
            position        : absolute;
            bottom          : 0;
            right           : 0;
            padding         : 5px;
            border          : 3px solid salmon;
            background-color: rgba(223, 163, 156, 0.61);
        }

        &-img {
            &:hover {
                cursor: pointer;
            }

            display    : flex;
            align-items: center;
            width      : 100%;
            height     : 100%;
        }

        &-title {
            position        : absolute;
            top             : 0;
            left            : 0;
            margin          : auto;
            border          : 1px solid#6e6b6b;
            padding         : 5px;
            border          : 3px solid salmon;
            background-color: rgba(223, 163, 156, 0.61);
        }

        &-subtitle {
            position        : absolute;
            bottom          : 0px;
            left            : 50%;
            transform       : translate(-50%);
            padding         : 5px;
            border          : 3px solid salmon;
            background-color: rgba(223, 163, 156, 0.61);
        }

        &-text {
            position : absolute;
            left     : 50%;
            transform: translate(-50%);
        }


        .buttons {
            cursor : none;
            display: none;
        }
    }

    &__item-small {
        width : 90%;
        height: 90%;
        margin: auto auto;

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }
}