.header {
    min-width: 350px;
    z-index  : 1;

    &__left {
        display    : flex;
        align-items: center;
    }

    &__container {
        max-height      : 70px;
        max-width       : 1080px;
        margin          : 0 auto;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        background-color: #e1e1e1;
    }

    &__logo {
        margin : 0 20px;
        display: flex;
    }

    &__links-wrap {
        display        : flex;
        justify-content: space-around;
        height         : 100%;
        align-items    : center;

    }

    &__links {
        position: relative;
        display : flex;
        margin  : 20px;
    }
}

.header__shrink {
    font-size     : 25px;
    transition    : transform 0.2s ease;
    text-transform: uppercase;
}

.header__shrink:hover {
    transform  : scale(1.1);
    text-shadow: 1px 1px 2px pink;
}

.header__shrink:active {
    transform: scale(0.8);
}

.header__button {
    padding: 20px;
    content: '⫘';
}

.burger {
    display: none;
}

@media (max-width: 1080px) {

    .header {
        &__container {
            width: 100%;
        }

        &__logo {
            margin: 5px;
        }

        &__links {
            margin: 5px;
        }

        a {
            padding: 5px;
        }
    }

}




@media (min-width: 350px) and (max-width: 830px) {
    .auth {
        position       : absolute;
        bottom         : 50px;
        left           : 50%;
        transform      : translate(-50%);
        display        : flex;
        flex-direction : column;
        gap            : 30px;
        text-align     : center;
        justify-content: center;

        &__title {
            margin: 0 auto;
        }
    }

    .header {
        margin  : 0;
        padding : 0;
        position: fixed;
        width   : 100%;

        &.active {
            margin : 0;
            padding: 0;
            height : 100%;
            z-index: 2;

            a {
                padding       : 10px;
                border        : 1px solid #e1e1e1;
                text-transform: uppercase;

            }

            a,
            h2 {
                font-size: 25px;
                color    : #e5c7c7;
            }
        }

        &__container {
            height     : 60px;
            max-height : none;
            padding    : 5px 10%;
            display    : flex;
            align-items: center;

            .burger {
                display : block;
                position: relative;
            }
        }

        &__container.active {
            padding         : 0;
            background-color: #2c2c2cd0;
            height          : 100%;
            margin          : 0 auto;
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : center;

            .burger {
                display : block;
                position: absolute;
                padding : 7px;
                top     : 10px;
                right   : 10%;
            }
        }

        &__left {
            width: 100%;

            .header__logo {
                display: none;
            }

            .search {
                margin  : 0;
                position: relative;
                padding : 7px;

                &__form {
                    position       : relative;
                    justify-content: start;
                    width          : 100%;

                    input {

                        +button {}
                    }

                    input:focus,
                    input:not(:empty) {
                        width: 100%;

                        +button {
                            right: 0px;
                        }
                    }
                }
            }
        }

        &__left.active {
            display       : flex;
            flex-direction: column;

            .header__logo {
                display      : block;
                margin-bottom: 35px;
            }

            .search {
                margin   : 0;
                position : absolute;
                top      : 15%;
                left     : 50%;
                transform: translate(-50%);
                padding  : 7px;
                width    : 100%;

                &__form {
                    position: relative;
                    width   : fit-content;
                    margin  : 0 auto;

                }
            }

        }

        &__right {
            display: none;
        }

        &__right.active {
            display: flex;

            .header__links-wrap {
                display       : flex;
                flex-direction: column;

                .header__links {
                    position: static;

                    &:last-child {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}



@media (orientation :landscape) {
    .header.active {
        .search {
            left     : 10%;
            top      : 0;
            width    : fit-content;
            transform: none;


            &__form {
                display        : flex;
                justify-content: flex-start;
                align-items    : center;

                input {}
            }

        }

        .auth__title {
            display: none;
        }

        .auth {
            top   : 10px;
            left  : 70%;
            bottom: auto;
        }
    }
}