.search {
    display: flex;
    flex   : 1 0;

    &__form {
        height         : 70%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        position       : relative;
        border-radius  : 10px;
        overflow       : hidden;
    }

    &__input {
        font-size    : 18px;
        padding      : 10px 10px 10px 5px;
        width        : 80px;
        border-radius: 10px;
    }

    &__input-value {
        border-radius: 10px;
        width        : 100%;
        font-size    : 18px;
        padding      : 10px 50px 10px 5px;

        +.search__button {
            display: block;
        }
    }

    &__input:focus {
        width        : 100%;
        padding-right: 50px;

        +.search__button {
            display: block;
        }
    }

    &__button {
        padding         : 0 20px;
        display         : none;
        position        : absolute;
        right           : 0;
        bottom          : 0;
        height          : 100%;
        border-radius   : 10px;
        color           : #000;
        background-color: #454141;

        &:disabled {
            opacity: 0.5;
            cursor : not-allowed;
        }
    }
}

@media (max-width: 500px) {
    .search {

        &__form {
            justify-content: start;
        }

    }
}